--index-url https://download.pytorch.org/whl/cpu
torch
--extra-index-url https://pypi.org/simple
fastapi
uvicorn[standard]
python-multipart
segmentation-models-pytorch
pillow
numpy
opencv-python-headless
pandas